[Unit]
Description=Presentation Game Controller Service

[Service]
ExecStart=/home/pi/game-controller-scan.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=PRESCONTROL
Environment=AWS_ACCESS_KEY_ID=AKIAIT3HGTIV5XSAJYOA
Environment=AWS_SECRET_ACCESS_KEY=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
Environment=AWS_DEFAULT_REGION=us-east-1
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

