[Unit]
Description=Presentation Game Controller Service

[Service]
ExecStart=/home/pi/game-controller-scan.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=PRESCONTROL
Environment=AWS_ACCESS_KEY_ID=
Environment=AWS_SECRET_ACCESS_KEY=
Environment=AWS_DEFAULT_REGION=
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

