[Unit]
Description=Presentation Game Controller Service

[Service]
ExecStart=/home/pi/game-controller-scan.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=PRESCONTROL
EnvironmentFile=/home/pi/game-controller-scan.env
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

